
<div id="myCarousel" class="carousel slide 
  {% if include.fade == true %}
    carousel-fade
  {% endif %}
  ">
  {% unless include.no_nav == "true" %}
  <ol class="carousel-indicators">
    {% for photo in include.photos %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.index }}"
        {% if forloop.first == true %}
         class="active"
         {% endif %}
        ></li>
    {% endfor %}
  </ol>
  {% endunless %}
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for photo in include.photos %}
      <div class="item
        {% if forloop.first == true %}
          active
        {% endif %}
        ">
        <div class="img-wrapper2">
          <img src="/assets/img/{{ photo.file }}">
        </div>
        {% if photo.desc %}
        <div class="carousel-caption">
          <p>{{ photo.desc }}</p>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
    {% unless include.no_nav == "true" %}
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    {% endunless %}

    {% if include.no_nav == "true" %}
    <script type="text/javascript">
      var cycleCarousel = true;
    </script>
    {% endif %}
</div>