 <div id="sidebar" class="nav-sidebar">
 <a href="/"><div class="nav-logo">
    <img src='/assets/img/logo.png'>
  </div></a>
  <ul class="nav nav-list swatch-list">
    <li>
      <a href="/om.html">
        <span class="visible-desktopwide">Om Jenssen & Bjørgen</span>
        <span class="hidden-desktopwide">Om oss</span>
        </a>
    </li>
    <li>
      <a href="/referanser/nesodden.html">Referanser</a>
    </li>
    <li>
      <a href="/medieomtale/hc.html">Medieomtale</a>
    </li>
    <li>
      <a href="/malingermaling.html">Maling er maling?</a>
    </li>
    <li>
      <a href="/kontaktoss.html">Kontakt oss</a>
    </li>
  </ul>
</div>