
hr {
    margin: 15px 0;
}

@media (min-width: 768px) {
body {
  background-color: #eee;
}
}

.container {
  position: relative;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container .background {
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 103%;
  background-color: white;
  margin-left: -5%;
  margin-top: -1%;
  opacity: 1.0;
}

h3 { font-size: 25px; }

.nav-sidebar {
    margin-top: 15px;
    border: 1px solid #eee;
    border-right: 0px;
    text-transform: uppercase;
    font-size: 100%;
    color: #1e; /* Tor Arne: fix!!! */
    font-family: "HelveticaNeueLTStd67MediumCondensed", "Helvetica";

    width: 95%;
/*    margin-right: 15px;*/

    -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

    padding-bottom: 100px;
}

.nav-logo {
  width: 108%;
  padding: 15% 21% 17% 14%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.nav-logo > img {
  width: 100%;
}

/*
.row-fluid .nav-sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 200px;
}

.content {
  padding-left: 240px !important;
}*/

.swatch-list {
  padding-left: 0px;
  padding-right: 0px;
}

.swatch-list > li > a {
  padding: 16px 10px 15px 10px;
}

.swatch-list > li > a,
.swatch-list .nav-header {
  margin-left:  0px;
  margin-right: 0px;
  color: black;
}

.swatch-list li:before {
  display: block;
  width: 100%;
  padding: 24% 1px 22% 22%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  content: "";
  background-color: #eee;
}

.swatch-list li:nth-of-type(1):before {
  background-color: rgb(80, 79, 83);
}

.swatch-list li:nth-of-type(2):before {
  background-color: rgb(128, 128, 131);
}

.swatch-list li:nth-of-type(3):before {
  background-color: rgb(173, 174, 177);
}

.swatch-list li:nth-of-type(4):before {
  background-color: rgb(215, 217, 219);
}

.swatch-list li:nth-of-type(5):before {
  background-color: #eee;
}

@media (max-width: 560px) {
  #left-header {
    float: none;
    text-align: center;
    font-size: 150%;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  #right-header {
    float: none;
    text-align: center;
  }
  #maler-header {
  display:block;
  font-size: 90%;
    margin-bottom: 1%;
  }
}


/*


.nav-list {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-sidebar li:before {
    display: block;
    width: 100%;
    height: 100px;

    content: "";
    background-color: #eee;
}*/

.mm-title {
    text-transform: uppercase;
    font-family: "MyriadProMine", "Helvetica"
}

.mm-title a {
  color: inherit;
}

a {
  color: #E01B5D;
}

/* New desktopwide Responsive Support
-------------------------------------------------- */
.hidden-desktopwide {
  display: none !important;
}
.visible-desktopwide {
  display: inherit !important;
}

@media (min-width: 980px) and (max-width: 1200px) {
  .hidden-desktopwide {
    display: inherit !important;
  }
  .visible-desktopwide {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktopwide {
    display: inherit !important;
  }
  .visible-desktopwide {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktopwide {
    display: inherit !important;
  }
  .visible-desktopwide {
    display: none !important;
  }
}

/* ----- Sidebar/content tweaks */

.sidebar-foo {
  border: 1px solid red;
}

.content-foo {
  border: 1px solid orange;
}

/* ------- Carousel tweaks ------- */

.carousel {
  margin-bottom: 0;
}

.carousel-caption {
  position: static;
  padding-left: 0;
  padding-bottom: 0;
  background: transparent;
}
.carousel-caption h4,
.carousel-caption p {
  color: black;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}

.img-wrapper2 {
    height: 0;
    padding-bottom: 40%;
    border: 1px solid #eee
}

.omoss-wrapper {
    height: 0;
    padding-bottom: 68.7%;
    border: 1px solid #eee
}
/*
.carousel-fade .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel-fade .active.left {left:0;opacity:0;z-index:2;}
.carousel-fade .next {left:0;opacity:1;z-index:1;}
*/


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);

  -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
     -o-transition: opacity 1s ease-in-out;
     transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control {
  position: absolute;
  top: 50%;
}

/* Phones and tablets */
@media (max-width: 979px) {

  .sidebar-container {
    display: none !important;
  }

}

/*

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}*/